{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<header class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">Dashboard</h1>
</header>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <!-- Card 1 -->
  {% if userdata.role.name == "Admin"%}
  <a href="/admin/userlist" class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Users</h2>
    <p class="text-4xl font-bold text-gray-800">{{usercount}}</p>
  </a>
  {% endif %}

  <!-- Card 2 -->
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Booked INR</h2>
    <p class="text-4xl font-bold text-green-500">₹{{totalbooked}}</p>
  </div>

  <!-- Card 3 -->
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Clients</h2>
    <p class="text-4xl font-bold text-blue-500">{{clientcount}}</p>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Pending amount</h2>
    <p class="text-4xl font-bold text-red-500">₹{{totalpending}}</p>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Orders this month</h2>
    <p class="text-4xl font-bold text-blue-500">{{ordercount}}</p>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Total Wordcount this month</h2>
    <p class="text-4xl font-bold text-blue-500">{{wordcount}}</p>
  </div>
  
</div>
{% endblock %}
